<div class="movesOutModal">
			
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">You are out of moves!!</h4>
		<button type="button" class="btn-close" aria-label="Close"  ></button>
	</div>
	<div class="modal-body">
       <p>
 All the moves are over..
       </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ourButton"  (click)="onQuit()" >Go to home</button>
        <button type="button" class="btn btn-outline-dark ourButton"  [routerLink]="['/play-game',slug]"   (click)="onRetry()" >Retry</button>

	</div>

	</div>
	


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<pre>{{ closeResult }}</pre>