<body>
  <div class="container-fluid">
    <form
      class="mx-auto"
      class="form-group"
      [formGroup]="registerForm"
      
    >
      <h2 class="text-center">Registration</h2>
      <h4 class="text-center mt-2 mb-1">Details For Guardian</h4>
      <div class="mb-3 mt-5">
        <label for="guardianName" class="form-label">Enter your Name</label>
        <input
          type="text"
          class="form-control"
          id="guardianName"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="guardianEmail" class="form-label">Enter your email</label>
        <input
          type="text"
          class="form-control"
          id="guardianEmail"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="guardianPassword" class="form-label">Enter Password</label>
        <input
          type="password"
          class="form-control"
          id="guardianPassword"
          formControlName="password"
        />
      </div>

      <div class="mb-3">
        <label for="childName" class="form-label">Enter child's name</label>
        <input
          type="text"
          class="form-control"
          id="childName"
          formControlName="childName"
        />
      </div>

      <div class="mb-3">
        <label for="childAge" class="form-label">Child's date of birth</label>
        <input
          type="date"
          class="form-control"
          id="childAge"
          formControlName="dob"
        />
      </div>

      <button type="submit" class="col-5 btn btn-primary mt-3"  (click)="register()">Register</button>

      <div>
        <p class="message m-3">Already Registered?</p>
        <button class="btn btn-primary mt-2" (click)="goToLogin()">Login</button>
      </div>
    </form>
  </div>
</body>
