<div class="congratulationsModal">
			
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">The time for today is over!!</h4>
		<button type="button" class="btn-close" aria-label="Close"  ></button>
	</div>
	<div class="modal-body">
       <p>
        Come back again tomorrow!!
           </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ourButton"   (click)="onwebsiteClick()" >Go to website</button>

	</div>

	</div>
	


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<pre>{{ closeResult }}</pre>