
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-login></app-login> -->
<!-- <app-hero></app-hero> -->
<!-- <app-game></app-game> -->
<!-- <app-quit-modal></app-quit-modal> -->

<!-- <app-game-instruction></app-game-instruction> -->


<router-outlet></router-outlet>
<!-- <app-logout></app-logout> -->
<!-- <app-invalid-login></app-invalid-login> -->
<!-- <app-no-time-left></app-no-time-left> -->
<!-- <app-view-progress></app-view-progress> -->
<!-- <app-time-left-modal></app-time-left-modal> -->

<!-- <app-trying-image></app-trying-image> -->





<!-- <app-moves-out-modal></app-moves-out-modal> -->




<!-- <app-welcome-page></app-welcome-page> -->

<!-- <app-child-profile></app-child-profile> -->

<!-- <app-set-timer></app-set-timer> -->


<!-- <app-instructions></app-instructions> -->