/* modal.component.css */

/* Style for modal header */
/* Style for modal header */
.modal-header {
    background-color: #7FC7D9;
    color: #023e8a;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    display: flex; /* Add flexbox */
    justify-content: space-between; /* Push items apart */
    align-items: center; /* Center items vertically */
}

/* .quitModal{

    height: 35rem;
    width: 35rem;
    margin: auto;
    margin-top: 30px;
} */

/* Style for modal title */
.modal-title {
    margin: 0;
    font-size: 1.25rem;
    
}

/* Style for modal body */
.modal-body {
    padding: 1rem;
    background-color: #caf0f8;
    color: #023e8a;

}

.modal-body p{
    margin-top: 10px;
    font-size: 1.5rem;

}

/* Style for modal footer */
.modal-footer {
    background-color: #caf0f8;
    padding: 1rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

/* Style for close button */
.btn-close {
    color: #fff;
}

/* Style for buttons in modal footer */
.modal-footer .btn {
    margin-right: 0.5rem;
}


.ourButton {
    background-color: #47a9aa;
    color: #023e8a; 
  }



.ourButton:hover {
    background-color: #47a9aa; /* Darker green on hover */
    transform: scale(1.1); /* Scale up on hover */
    color: #023e8a; 

  }


/* Additional styles can be added as needed */
