	<div class="quitModal">
			
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Do you really want to quit!!</h4>
		<button type="button" class="btn-close" aria-label="Close"  ></button>
	</div>
	<div class="modal-body">
       <p>
 All the progress will be lost..
       </p>
	</div>
	<div class="modal-footer">
		<a class="btn btn-outline-dark ourButton" (click)="onQuit()" >Quit</a>
        <button type="button" class="btn btn-outline-dark ourButton"  (click)="onClose()" >Resume</button>

	</div>

	</div>
	
	<!-- [routerLink]="['/']" -->


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<!-- <pre>{{ closeResult }}</pre> -->