
  <body>
    <div class="container-fluid">
        <form class="mx-auto form-group"   [formGroup]="loginForm"  (submit)="submit()" >
            <h4 class="text-center">Welcome Guardian!</h4>
            <h4 class="text-center">Login</h4>


            <div class="mb-3 mt-5">
              <label for="UsernameInput" class="form-label">Enter your name</label>
              <input type="email" class="form-control" id="UsernameInput"  required formControlName="username" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label ">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1"  required formControlName="password">
              <div id="emailHelp" class="form-text mt-3">Forgot Password?</div>
  
            </div>
            
            <button type="submit" class="btn btn-primary mt-3">Login</button>
          </form>  
    </div>
      
    </body>
