<body>
    <!-- Top navbar -->
    <nav class="navbar">
        <div class="container">
          <div class="logo">
            <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
                            <a href="#"
              ><p><span>Memory</span>Mingle</p></a
            >
          </div>
        </div>
    </nav>

    <div class="container profile-section">
        <div class="profile-name">Change Pin</div>
        <div class="profile-details">
            <p>You can login through this pin!</p>
        </div>

    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="action-buttons">
                    <form [formGroup]="changePasswordForm" >
                        <div class="mb-3">
                            <label for="currentPin" class="form-label">Current Pin</label>
                            <input type="password" class="form-control" id="currentPin" name="currentPin"  formControlName="currentPin">
                        </div>
                        <div class="mb-3">
                            <label for="newPin" class="form-label">New Pin</label>
                            <input type="password" class="form-control" id="newPin" name="newPin" formControlName="newPin">
                        </div>

                        <div class="mb-3">
                            <label for="confirmNewPin" class="form-label">Confirm New Pin</label>
                            <input type="password" class="form-control" id="confirmNewPin" name="confirmNewPin"  formControlName="confirmNewPin">
                        </div>

                        <button type="button" class="btn"  (click)="setPassword()" >Change Pin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>