<body>
  
    <div class="container">
      <div
        class="game-instructions d-flex justify-content-center align-items-center flex-column p-2"
      >
        <div class="Heading">
          <h1>THE GAME INSTRUCTIONS ARE!!</h1>
          <span class="align-items-center d-flex justify-content-center">Read Nicely!!</span>
        </div>


        <div class="content">
            <!-- <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus
                rem, culpa molestiae et eveniet sed error vitae quidem optio omnis!
              </p>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas,
                asperiores tempore totam doloremque harum dolor.
              </p>
      
              <ul>
                <li>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
                    quo?
                  </p>
                </li>
                <li>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
                    quo?
                  </p>
                </li>
                <li>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
                    quo?
                  </p>
                </li>
                <li>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum,
                    quo?
                  </p>
                </li>
              </ul> -->

              {{instructions?.game_instructions}}

        </div>

 
      </div>

      <div
        class="level-display d-flex flex-column  align-items-center"
      >
        <div class="Heading"><h1>LEVELS</h1></div>


        <div class="d-flex ">
            <div class="p-2"><button class="lvls btn btn-primary"(click)="sendLevel('EASY')" [routerLink]="['/play-game',slug]" >EASY</button></div>
        </div>


        <div class="d-flex">
            <div class="p-2"><button class="lvls btn btn-primary" (click)="sendLevel('MEDIUM')"  [routerLink]="['/play-game',slug]" >MEDIUM</button></div>
        </div>
        <div class="d-flex">
            <div class="p-2"><button class="lvls btn btn-primary" (click)="sendLevel('HARD')" >HARD</button></div>
        </div>
      </div>
    </div>

  </body>

