<div class="logOutConfirmation">
			
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Are you sure!!</h4>
		<button type="button" class="btn-close" aria-label="Close"  ></button>
	</div>
	<div class="modal-body">
       <p>
        The guardian will have to login again!!
           </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ourButton"   (click)="OnLogoutClick()" >Logout</button>
        <button type="button" class="btn btn-outline-dark ourButton"   (click)="OnBackClick()" >Back</button>


	</div>

	</div>
	


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<pre>{{ closeResult }}</pre>