*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body
{
    font-family: 'ABeeZee', sans-serif;
    /* background-color: #baebff; */
    line-height: 1.6rem;
     overflow-x: hidden;

}

*{
    background-color: #baebff;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
.title{
    text-align: center;
    font-style: italic ;
    color: #0077b6;

}

.centre-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* You can adjust the number of columns */
    gap: 10px;
    max-width: 700px; 
    max-height: 800px; /* Set a maximum width for responsiveness */
    /* Set a maximum width for responsiveness */
    margin: auto;
    background-color: #DCF2F1;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}

.tile {
    width: 100%;
    height: 100px; /* Adjust the height of the tiles as needed */
    background-color: #fff; /* Set a background color for the tiles */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.imgg{
    width: 120px;
    height: 120px;
    margin: 0 auto; /* Center the image */
    display: block; /* Remove default inline layout for images */
    margin-top: 20px; /* Adjust the margin as needed */
}

img {
    width: 100%;
    height: 100px;
    border: 2px solid #000; /* Black border */
    border-radius: 8px;
}
.quit-btn{
    margin-top: 10px;
    margin-right: 1450px;
    margin-left: 20px;
    padding : 15px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    background: #fff;
}
.color-display>img{
    width: 100%;
    height: 100px;
    border: 2px solid #000;
} 
.card-image:hover{
    opacity: 0.8;
}

.scorecard {
    padding: 1rem;
    border: 2px solid #0077b6;
    height: 200px;
    width: 220px;
    margin-left: auto; 
    color: #0077b6;

}
