<body>
    <!-- Top navbar -->
    <nav class="navbar">
        <div class="container">
          <div class="logo">
            <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
                            <a href="#"
              ><p><span>Memory</span>Mingle</p></a
            >
          </div>
        </div>
    </nav>


        <!-- Profile section -->
        <div class="container profile-section">
            <div class="profile-name">Logout Guardian</div>
            <div class="profile-details">
                <p>{{g_name}}</p>
                
            </div>
            <div class="action-buttons">
       
                <button (click)="onLogOutClick()">Logout</button>
            </div>
        </div>


</body>