

<body>
  <div id="navbar">
    <div class="logo">
      
      <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
      <a href="#"><p><span>Memory</span>Mingle</p></a>
  </div>

    <div id="profile-info">
      <!-- <div id="profile-image">
        <img  alt="Profile Image" />
      </div> -->
      <div id="user-info">
        <!-- <span id="username">Guardian username</span> -->
        <button class="btn btn-primary" (click)="guardianLogin()">Guardian Log In</button>
        <button class="btn btn-primary m-2" (click)="logOut()">Log Out</button>

      </div>
    </div>
  </div>

  <div class="hero text-center m-0 py-2 justify-content-center">

    <div class="moveClouds">
      <div class="cloud cloud1">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
  
      <div class="cloud cloud2">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
      <div class="cloud cloud3">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
      <div class="cloud cloud4">
        <div class="rec">
          <div class="vrec1"></div>
          <div class="vrec2"></div>
        </div>
      </div>
    </div>

    <div class="username">
      <p>Welcome user {{username}}!!</p>
    </div>
    <div class="" *ngFor="let game of gameData">
      <div class="container mt-5">
        <div class="game-container row">
          <div class="game-image col-6">
            <img [src]="getUrl(game.image_url)" alt="">

          </div>
          <div class="game-content col-6">
            <h2 class="mb-4 game-title">{{game.game_name}} Game</h2>
            <!-- <p>
              <span class="Points fw-bold">Points:</span>
                3
            </p> -->

            <button class="btn btn-primary mt-3 start-game-btn " [routerLink]="['/instructions',game.slug]"  (click)="setGameId(game.game_id)">

              Start Game
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

