<div class="congratulationsModal">
			
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Not a valid guardian..</h4>
		<button type="button" class="btn-close" aria-label="Close"  ></button>
	</div>
	<div class="modal-body">
       <p>
		You are not a valid guardian..
       </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark ourButton"   (click)="onBackClick()" >Go back</button>

	</div>

	</div>
	


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->


<pre>{{ closeResult }}</pre>