
<body>
  <div class="container-fluid">
    <div class="mx-auto form-container">
      <div class="text-center">
        <h2 class="fw-bold">Welcome, Guardian!</h2>
        <p>Thank you for registering as a guardian. Your child's online safety is our priority.</p>
        <p>Please note that the daily timer set for your child's playtime is set to <span class="fw-bold">30 minutes</span> by default. You can adjust this timer in the guardian portal.</p>
        <p>The timer will automatically decrement as your child uses the website and plays games.</p>
        <p>You can go to guardian-portal and update the daily timer.</p>
      </div>
      <div class="text-center mt-4">
        <p>Please Login in to go to home page</p>
        <button class="btn btn-primary" (click)="goToHomePage()">Login</button>
      </div>
    </div>
  </div>
</body>

